:root {
  --Banner: white;
  --secondary: black;
}
#mainHeader {
  background-color: var(--secondary);
  width: 80%;
  height: 130px;
  margin: auto;
  border-radius: 20px;
  margin-top: 50px;
  text-align: left;
  color: var(--Banner);
}
