:root {
  --Banner: white;
  --text: black;
  --drop: crimson;
}

nav {
  width: 800px;
  margin-left: auto;
  margin-right: 12%;
  margin-top: -100px;
}
#mainSeatchBtn {
  height: 37px;
}

li {
  margin-right: 15px;
}

@media screen and (max-width: 800px) {
  nav {
    width: 75%;
    position: fixed;
    top: 0;
    background-color: var(--Banner);
    border-radius: 10px;
  }
}
