:root {
  --title: white;
  --button: crimson;
}
.contactContainer {
  margin: auto;
  width: 80%;
  margin-top: 6%;
  color: var(--title);
}

.homeContainer {
  margin-top: 50px;
  text-align: center;
}

#welcomeHeader {
  margin: 80px;
}
.mainTextH {
  color: var(--title);
}
.searchBtnContainer {
  display: flex;
  flex-wrap: wrap;
}
.searchBtn {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 300px;
  height: 45px;
  background-color: crimson;
  border: crimson;
  border-radius: 5px;
  color: white;
  font-size: large;
}

.searchBtn:hover {
  background-color: crimson;
  opacity: 70%;
  color: white;
  border: solid 3px white;
}

.paragraphContainer {
  margin-top: 80px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: var(--title);
}

#loginSubmit {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form-control {
  margin-bottom: 3%;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.LoginContainer {
  margin: auto;
  width: 80%;
  margin-top: 5%;
  color: var(--title);
}

.inputFormLogin {
  margin: auto;
}

.nav-link :active {
  color: var(--button);
}

.allProductsContainer {
  margin-top: 6%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: var(--title);
}

.noProducts {
  margin-left: 50%;
  margin-top: 5%;
}

#signupSubmit {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.productlistContainer {
  color: black;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  width: max-content;
}
.cardGroup {
  margin: 2%;
}

a {
  text-decoration: none;
  color: black;
}
.productCard {
  width: 250px;
  border-width: 2px;
  border-color: crimson;
  text-decoration: none;
}

.productCardHeader {
  background-color: crimson;
  color: white;
}

.returnBtn {
  position: relative;
  left: 25%;
  margin-top: 20px;
  margin-bottom: 0;
  background-color: crimson;
  border-color: crimson;
}

.returnBtn:hover {
  background-color: crimson;
  border-color: crimson;
  opacity: 80%;
}

.cart {
  color: white;
  margin-top: 5%;
  text-align: center;
}

.collection {
  text-align: center;
  color: white;
}

.checkout {
  margin: auto;
  position: absolute;
  left: 40%;
}

@media screen and (max-width: 769px) {
  .noProducts {
    margin: auto;
  }

  .inputFormLogin {
    margin-top: 10%;
  }
  .checkout {
    margin: auto;
    position: absolute;
    left: 30%;
  }
}
