:root {
  --title: White;
  --button: crimson;
  --backText: black;
}
.contactContainer {
  margin: auto;
  width: 80%;
  margin-top: 6%;
  color: var(--title);
}

.homeContainer {
  margin-top: 50px;
  text-align: center;
}

#welcomeHeader {
  margin: 60px;
}
.mainTextH {
  color: var(--title);
}
.searchBtnContainer {
  display: flex;
  flex-wrap: wrap;
}
.searchBtn {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 200px;
  height: 45px;
  background-color: var(--button);
  border: var(--button);
  border-radius: 5px;
  color: var(--title);
  font-size: large;
}
.homeDropdown {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.colourDropdown {
  margin: auto ;
  margin-top: 5%;
  margin-bottom: -20%;
  font-size: large;
  max-height: 1000px;
  overflow-x: hidden;
  overflow-y: auto;
}

.btn-primary {
  background-color: var(--button);
  border-color: var(--button);
  width: 200px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: var(--button);
  border-color: var(--button);
}
.btn-primary:active {
  background-color: var(--button);
  border-color: var(--button);
}

.paragraphContainer {
  margin-top: 80px;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: var(--title);
}

#loginSubmit {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form-control {
  margin-bottom: 3%;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.LoginContainer {
  margin: auto;
  width: 80%;
  margin-top: 5%;
  color: var(--title);
}

.inputFormLogin {
  margin: auto;
}

.nav-link :active {
  color: var(--button);
}

.allProductsContainer {
  margin-top: 6%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  color: var(--title);
}

.noProducts {
  margin-left: 50%;
  margin-top: 5%;
}

#signupSubmit {
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.productlistContainer {
  color: var(--backText);
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  width: max-content;
}
.cardGroup {
  margin: 2%;
}

a {
  text-decoration: none;
  color: var(--backText);
}
.productCard {
  width: 250px;
  border-width: 2px;
  border-color: var(--button);
  text-decoration: none;
  color: var(--backText);
}

.singleProductCard {
  width: 250px;
  border-width: 2px;
  border-color: var(--button);
  text-decoration: none;
  color: var(--backText);
  position: relative;
  left: 25%;
}

.productCardHeader {
  background-color: var(--button);
  color: var(--title);
}

.returnBtn {
  position: relative;
  left: 25%;
  margin-top: 20px;
  margin-bottom: 0;
  background-color: var(--button);
  border-color: var(--button);
}

.returnBtn:hover {
  background-color: var(--button);
  border-color: var(--button);
  opacity: 80%;
}

.cart {
  color: var(--title);
  margin-top: 5%;
  text-align: center;
}

.collection {
  text-align: center;
  color: var(--title);
}

.checkout {
  margin: auto;
  position: absolute;
  left: 40%;
}

.profileContainer {
  text-align: center;
  margin-top: 4%;
  color: var(--title);
}

@media screen and (max-width: 769px) {
  .noProducts {
    margin: auto;
  }

  .inputFormLogin {
    margin-top: 10%;
  }
  .checkout {
    margin: auto;
    position: absolute;
    left: 30%;
  }

  #addCart {
    width: 200px;
    margin-bottom: 150%;
  }
}

@media screen and (max-width: 550px) {
  .singleProductCard {
    margin: auto;
  }
  #addCart {
    width: 200px;
  }
}
